<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!--  ##Way to host on Render -- To fix ##
        <link rel="icon" type="image/x-icon" href="https://CST3144-Backend.onrender.com/Images/Learnify.ico"> -->
        <link rel="stylesheet" href="styles.css">
        <title>Learnify</title>
    </head>
    <body class = "bg-emerald-500">
      <div id="webpage">
        <div v-if = "checkout === false">
          <header>
            <div class = "bg-yellow-70 flex justify-center text-center">
              <!-- Flex box container for logo brand (Margin-left: 3.5 rem:56px, margin-right: 14rem:224px) -->
              <div class="flex items-center ml-14 mr-56">
                <p class = "font-bold text-white text -2xl">Learnify</p>
              </div>
              <!-- Flexbox to push items to other side, centers horizontally : Middle section for search bar-->
              <div class = " flex flex-grow justify-center">
                <input v-model = "searchQuery" v-on:input = "fetchSearchedTutoring()" class = "h-10 m-5 w-1/2 rounded -2xl text-center outline-none"  placeholder="Type to search ...">
              </div>
              <div class = "flex items-center mr-10">
                <button v-on:click="checkout=true" class = "bg-slate-50 rounded-lg p-1 pl-5 font-bold hover: bg-neutral-100 disabled: bg-red-500" : disabled = "cart-length === 0">
                  Checkout
                </button>
              </div>
            </div>
          </header>
          <main class="flex flex-row">
            <div class = "bg-yellow-75 inline-flex  flex-col text-white min-h-full">
              <div class="bg-emerald-1200 text-center mt-10 mb-10 ml-5 mr-5 rounded-lg">
                <p class="m-1 text-bold text-lg"> Filters </p>
              </div>
              <div class = "ml-5 mr-32 text-bold text-base">
                <label class=""flex items-center mb-5 rounded- 2xl">
                  <input v-model="currentFilter" v-on: change="filterTutoring()" type="radio" name="searchCriteria" value="subject" class="mr-2">
                  Subject
                </label>
                <label class="flex items-center mb-5">
                  <input v-model="currentFilter" v-on: change="filterTutoring()" type="radio" name="searchCriteria" value="location" class="mr-2">
                  Location
                </label>
                <label class="flex items-center mb-5">
                  <input v-model="currentFilter" v-on: change="filterTutoring()" type="radio" name="searchCriteria" value="price" class="mr-2">
                  Price
                </label>
                <label class="flex items-center mb-5">
                  <input v-model="currentFilter" v-on: change="filterTutoring()" type="radio" name="searchCriteria" value="spaces" class="mr-2">
                  Spaces
                </label>
              </div>
              <div class=""bg-emerald-800 text-center mt-10 mb-10 ml-5 mr-5 rounded-lg">
                <p class="m-1 text-bold text-lg"> Sort By </p>
              </div>
              <div class="ml-5 mr-32 text-bold text-base mb-64">
                <label class="flex items-center mb-5 rounded- 2xl">
                  <input v-model="currentSort" v-on: change="filterTutoring()" type="radio" name="sortBy" value="ascending" class="mr-2": disabled = "currentFilter === ''">
                  Ascending
                </label>
                <label class="flex items-center mb-5">
                  <input v-model="currentSort" v-on: change="filterTutoring()" type="radio" name="sortBy" value="descending" class="mr-2": disabled = "currentFilter === ''">
                  Descending
                </label>
              </div>
            </div>
            <div class ="h-full w-full">
              <div class=""flex flex-row flex-wrap gap-10 justify center">
                <div v-for="tutoring in tutorships">
                  <div class=""inline-flex text-center items-center justify-between bg-neutral-100 h-44 w-[448px] rounded-lg m-10 shadow-xl">
                    <img v-bind:src ="`${server}/images/${tutoring.subject.toLowerCase()}.png`" class="h-20 w-20 ml-5">
                    <div class="felx felx-col items-start">
                        <p class="font-bold text-xl"> {{ tutoring.subject }} </p>
                        <div class="flex flex-row gap-5 text-neutral-500">
                          <p class="text-green-400">£{{tutoring.price}}</p>
                          <p>{{tutoring.location}}</p>
                          <p>Spaces: {{tutoring.space}} seats</p>

                        </div>
                      </div>
                      
                      <button v-on:click="addToCart(tutoring)" class = "p-3 bg-slate-500 rounded-full text-2xl font-bold h-10 w-10 flex items-center mr-5 hover:bg-slate-600 disabled: bg-gray-500" :disabled = "tutoring.space <= 0">
                        <p class="relative bottom-0.5">+</p>
                      </button>
                      
                    </div>

                </div> 
              </div>
            </div>

          </main>
          <footer class="bg-yellow-70 h-20">
            
          </footer>
        </div>

          
          
      <script>
        let 
      </script>
  
    </body>
</html>